pipeline/CurrencyType.json
{
	"name": "CurrencyType",
	"properties": {
		"activities": [
			{
				"name": "CurrencyType",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "User"
					},
					{
						"name": "Destination",
						"value": "comex/@{'Salesforce_Data_test'}/@{concat('User','.csv')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Salesforce_Src",
						"type": "DatasetReference",
						"parameters": {
							"Object": {
								"value": "@variables('Object')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Com_ex_Dest",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@concat(variables('folder'),'/',variables('Object'))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@variables('Object')",
								"type": "Expression"
							},
							"FileExtension": ".csv"
						}
					}
				]
			},
			{
				"name": "DB_Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Drop Table",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "User"
					},
					{
						"name": "Destination",
						"value": "comex/@{'Salesforce_Data_test'}/@{concat('User','.csv')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"additionalColumns": [
							{
								"name": "Snapshot_Date",
								"value": {
									"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						],
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Salesforce_Src",
						"type": "DatasetReference",
						"parameters": {
							"Object": {
								"value": "@variables('Object')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ComEx_Sql_DB",
						"type": "DatasetReference",
						"parameters": {
							"table_nm": {
								"value": "@variables('Object')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Drop Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "CurrencyType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('Drop table ',variables('Object'))",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Remove inactive data",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "DB_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('Delete FROM ',variables('Object'),' where [IsActive] !=1')",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "Add Column",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Remove inactive data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('alter table ',variables('Object'),' add [Snapshot_Date_YYYYMM]  AS (datepart(year,CONVERT([date],[Snapshot_Date],(102)))*(100)+datepart(month,CONVERT([date],[Snapshot_Date],(102))))')\n",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Object": {
				"type": "String",
				"defaultValue": "CurrencyType"
			},
			"folder": {
				"type": "String",
				"defaultValue": "Salesforce_Data"
			}
		},
		"folder": {
			"name": "ComEx/Salesforce_Jobs_Daily"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-01T17:35:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}