pipeline/pl_mdm_in_file_load.json
{
	"name": "pl_mdm_in_file_load",
	"properties": {
		"activities": [
			{
				"name": "post_tibco",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "get_doc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://10.131.171.20:8080/ebx-addon-dama/rest/v1/asset/BBPAribaMasterDataSpace/BPAribaMasterDataSet:upload?primaryKey=123&fieldPath=/AribaDocumentReview&tablePath=/root/BPAribaQuestions&useAddonToken=false",
					"method": "POST",
					"headers": {
						"Content-Length": "235",
						"Content-Type": "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\n\n------WebKitFormBoundary7MA4YWxkTrZu0gW",
						"Content-Disposition": "form-data; name=\"file\"; filename=\"[PROXY]\"",
						"Authorization": "Basic ZWJ4ZGV2OlRzcDRXZXM="
					},
					"body": {
						"value": "@concat(activity('get_doc').output.response,'------WebKitFormBoundary7MA4YWxkTrZu0gW\n------WebKitFormBoundary7MA4YWxkTrZu0gW--')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.ariba.com/v2/oauth/token?grant_type=openapi_2lo",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": "''",
					"disableCertValidation": true,
					"authentication": {
						"type": "Basic",
						"username": "d335c30f-a7b3-4581-bb72-2de7bef57a19",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "get_doc",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "get_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://openapi.ariba.com/api/sourcing-approval/v2/prod/Document/Doc613559618/attachments/Doc613559618,NYCQAOXmtf+Nui,NYCQAMHmtf+N!X?realm=westernmidstreamoperating-T",
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"APIKey": "sJJxuEEDqdrr4S6nIu2zuPyoEjyCUD5X",
						"Authorization": {
							"value": "@concat('Bearer ',activity('get_token').output.access_token)",
							"type": "Expression"
						}
					},
					"body": "''",
					"disableCertValidation": true
				}
			}
		],
		"parameters": {
			"file_path": {
				"type": "string",
				"defaultValue": "ctstedmmdm/poc/attachment/Documents/TSK546137173/Dummy Upload File.docx"
			}
		},
		"variables": {
			"Token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MDM"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T15:13:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}